---
import Title from '@components/title/Title'
import Layout from '@layouts/Layout.astro'
import GoogleAnalytics from 'src/components/_html/GoogleAnalytics.astro'

return Astro.redirect('/')
---

<Layout>
  <GoogleAnalytics />
  <Title>Pagina no encontrada (404)</Title>
</Layout>
